@import url('https://fonts.googleapis.com/css2?family=Mozilla+Headline:wght@200..700&display=swap" rel="stylesheet'); 
*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh ;
    background-color: black;
    font-family: "Roboto", sans-serif;
    overflow-x: hidden;

}
:root{
    --primary-color: red;
}
.navbar{
    width: 100%;
    height: 13vh;

    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 100;
    padding: 0px 50px;
    & h1 {
        font-size: 28px;
        color: white ;
         font-family: "Mozilla Headline", sans-serif;
        
    }
    & ul {
        display: flex;
        gap: 15px;
        & .icon {
            width:auto;
            height: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
            color: white;
        }
        & li {
            list-style: none;
            position: relative;
            border-radius: 5px;
            padding:8px 0px;
            width: 120px;
            text-align: center;
        }
        & a {
            text-decoration: none;
            font-size: 18px;
            color: white;
            transition: 0.2s all;
        }
        & li:hover{
            transition: 0.3s all;
            background-color: rgb(95, 16, 16);

        }
        & li .dropdown {
            text-align: start;
            top: 36px;
            left: 0;
            display: none;
            width: 120px;
            position: absolute;
             & li,a{
                margin-top: 10px;
                height: 100%;
                padding: 8px 0px;
                text-align: center;
                font-size: 17px;
                color: white;
             }
        }
        & li:hover > .dropdown{
            display: block;
        }

    }

}
.main-contain{
    position: relative;
    z-index: 10;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.5) , rgba(0,0,0,0.5)) , url(../img/background2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    & .text-contain{
        position: absolute;
        top:20%;
        left: 6%;
        width:40%;
        height: 400px;
        cursor: pointer;
        padding: 20px 30px;
        & p{
            color: white;
            font-size: 18px;
        }
        & h1{
            padding: 20px 0px;
            font-size: 70px;
            font-family: Algerian;
            color: white;
        }
        & span{
            color: orange;
        }
        & .btn{
            width: auto;
            height: auto;
            margin-top: 30px;
            display: flex;
            gap: 30px;
            & button{
                padding: 15px 35px;
                font-size: 17px;
                border: none;
                border-radius: 10px;
                color: var(--primary-color);
                background-color: rgba(241, 235, 235, 0.89) ;
                box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
                transition: 0.3s all;
            }
            & button:hover{
                background-color: gray;
                transform: scale(1.1);
                transition: 0.3s all;
            }
            & .btn-2{
                padding: 15px 35px;
                font-size: 17px;
                border: none;
                border-radius: 10px;
                color: white;
                background-color: var(--primary-color);
                box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
                & #icon{
                    font-size: 13px;
                }
            }
        }
    }
      & .img-contain{
        width: 40%;
        height: 600px;
        position: relative;
        left: 53%;
        top: 38%;
        
        & img{
            object-fit: cover;
            position: absolute;
            /* bottom: 0.2%; */
        }
    }
}

.my-section{
    width: 90%;
    height: 80vh;
    /* background-color: rgb(255, 0, 0); */

    margin: auto;
    padding: 20px 30px;
     & span{
        font-size: 40px;
        color:orange;
     }
     & h1{
        font-size: 35px;
        color: white;
        padding-bottom:  15px;
     }
     & p{
        color: white;
        padding-bottom: 15px;
     }
}

.my-section .block1{
    width: 100%;
    height: auto;
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(6,auto);
    justify-content: center;
    align-items: center ;
    align-content: center;
    padding-right: 20%;
    gap: 20px;
    & .item{
        width: 200px;
        height: 190px;
        transition: 0.4s all;
        border-radius: 20px 20px 5px 5px;
        position:relative;
         & p{
            font-size: 14px;
            position: absolute;
            top: 6%;
            left: 4%;
            width: 65px;
            text-align: center;
            padding: 4px 10px;
            background-color: rgb(209, 59, 14);
            border-radius: 10px;
         }
         & img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 20px 20px 5px 5px;
         }
    }
    & .item:hover{
        transition: 0.4s all;
        transform: scale(1.1);
    }
}
.my-section .block2{
    width: 100%;
    height: 490px;
    padding: 20px 0px;
    display: flex;
    gap: 25px;
    /* background-color: blue; */
    & h4{
        margin-top: 20px;
        width: 99%;
        color: white;
    }
    & .item{
        width: 300px;
        height: 350px;
        transition: 0.4s all;
        border-radius: 20px;
        position: relative;
        & p{
            font-size: 14px;
            position: absolute;
            top: 6%;
            left: 4%;
            width: 65px;
            text-align: center;
            padding: 4px 10px;
            background-color: rgb(209, 59, 14);
            border-radius: 10px;
        }
        & img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 20px;
        }
        & .time-view{
            width: 100%;
            height: auto;
            display: flex;
            justify-content: space-between;
            padding: 0px 15px;
            z-index: 1000;
            position: absolute;
            bottom: 4%;
            & span{
                font-size: 12px;
                color: white;
                width: 70px;
                text-align: center;
                padding: 4px 10px;
                background-color: rgba(27, 27, 27, 0.767);
                border-radius: 10px;
            }
            & #icon{
                font-size: 14px;
            }

        }
        & .date{
            width: 100%;
            height: auto;
            display: flex;
            gap: 15px;
            margin-top: 10px;
            & span{
                font-size: 12px;
                color: white;
                width: 70px;
                text-align: center;
                padding: 4px 10px;
                background-color: rgb(209, 59, 14);
                border-radius: 5px;
            }
        }
    }
    & .item:hover{
        transition: 0.4s all;
        transform: scale(1.1);
    }

}

.my-section2{
    width: 90%;
    height: 80vh;
    /* background-color: rgb(255, 0, 212); */
    margin-top: 200px;
    margin-left: 100px;

    padding: 20px 30px;
     & span{
        font-size: 40px;
        color:orange;
     }
     & h1{
        font-size: 35px;
        color: white;
        padding-bottom:  15px;
     }
     & p{
        color: white;
        padding-bottom: 15px;
     }
}
.my-section2 .title{
    width: 78%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    & span{
        font-size: 40px;
        color: orange;
    }
    & h1{
        font-size: 35px;
        color: white;
        padding-bottom: 15px;
    }
    & p{
        font-size: 18px;
        width: 150px;
        height: 30px;
        padding-top: 4px;
        background-color: rgba(220, 220, 220, 0.226);
        border-radius: 5px;
        color: var(--primary-color);
    }
}
.my-section2 .block2{
    width: 100%;
    height: 490px;
    padding: 20px 0px;
    display: flex;
    gap: 25px;
    /* background-color: blue; */
    & h4{
        margin-top: 20px;
        width: 99%;
        color: white;
    }
    & .item{
        width: 300px;
        height: 350px;
        transition: 0.4s all;
        border-radius: 20px;
        position: relative;
        & p{
            font-size: 14px;
            position: absolute;
            top: 6%;
            left: 4%;
            width: 65px;
            text-align: center;
            padding: 4px 10px;
            background-color: rgb(209, 59, 14);
            border-radius: 10px;
        }
        & img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 20px;
        }
        & .time-view{
            width: 100%;
            height: auto;
            display: flex;
            justify-content: space-between;
            padding: 0px 15px;
            z-index: 1000;
            position: absolute;
            bottom: 4%;
            & span{
                font-size: 12px;
                color: white;
                width: 70px;
                text-align: center;
                padding: 4px 10px;
                background-color: rgba(27, 27, 27, 0.767);
                border-radius: 10px;
            }
            & #icon{
                font-size: 14px;
            }

        }
        & .date{
            width: 100%;
            height: auto;
            display: flex;
            gap: 15px;
            margin-top: 10px;
            & span{
                font-size: 12px;
                color: white;
                width: 70px;
                text-align: center;
                padding: 4px 10px;
                background-color: rgb(209, 59, 14);
                border-radius: 5px;
            }
        }
    }
    & .item:hover{
        transition: 0.4s all;
        transform: scale(1.1);
    }

}
.finish{
    width: 88%;
    height: 70vh;
    /* background-color: palevioletred; */
    display: flex;
    position: relative;
    margin: auto;
    justify-content: space-between;
    padding: 0px 30px 30px;
    align-items: center;
     & .block-text{
        width: 40%;
        height: auto;
        /* background-color: orange; */

        & p{
            color: white;
            padding-bottom: 30px;
        }
        & h1{
            font-size: 35px;
            color: white;
            padding-bottom: 25px;
        }
        & form{
            position: relative;
            width: auto;
            height: auto;
            & input{
                width: 100%;
                padding: 18px 10px;
                border-radius: 30px;
                background-color:rgba(255, 0, 0, 0.39);
                border: 1px solid white;
            }
            & input::placeholder{
                color: red;
            }
            & #icon{
                position: absolute;
                right: 2%;
                top: 10%;
                color: white ;
                width: 40px;
                height: 40px;
                background-color: rgb(255, 0, 0);
                place-content: center;
                border-radius: 50%;
            }
        }
     }
     & .block-img{
        width: 30%;
        height: 98%;
        background-color: brown;
        & .img-1{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
     }
     /* & .hero-1{
        position: absolute;
        height: 530px;
        right: 25%;
     } */
     & .hero-2{
        position: absolute;
       right: 28%;
     }
}

.footer{
    width: 100%;
    height: 30vh;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    & .block-Contact{
        width: 17%;
        height: auto;

        & h4{
            color: var(--primary-color);
            padding-bottom: 20px;
        }
        & ul{
            display: flex;
            gap: 10px;
            & li{
                list-style: none;
                padding: 15px 0px 20px;
            }
              & #icon{
                color: white;
                width: 30px;
                height: 30px;
                background-color: rgba(255, 0, 0, 0.596);
                place-content: center;
                border-radius: 50%;
            }
        }
    }
     & .block-link{
        width: 17%;
        height: auto;
        & h4{
            color: var(--primary-color);
        }
        & ul{
            margin-top: 15px;
            & li{
                list-style: none;
                padding: 10px 0px;
            }
            & a{
                text-decoration: none;
                color: var(--primary-color);
            }
                & #icon{
                color: white;
                width: 30px;
                height: 30px;
                background-color: brown;
                place-content: center;
                border-radius: 50%;
               }

         }
    }

}
